<html>
  <head>
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Engagement&subset=latin,latin-ext&display=swap');
      .btn {background-color: #223322; color: white; padding: 0.5rem 2rem;
      border-radius: 5px;border:none; font-weight: bold; display:inline-block }
      .logo { margin-block:6rem; font-family: 'Engagement', cursive; font-size:
      2rem; color: #92bea3}

    </style>
  </head>
  <body>
    <div class="logo">MuśliNove</div>
    <p>Witaj {{name}},</p>
    <p>Otrzymaliśmy żądanie zresetowania hasła dla konta zarejestrowanego na ten
      adres e-mail.</p>
    <p>Twoje hasło nie zostanie zmienione dopóki nie klikniesz przycisku poniżej
      i wprowadzisz nowego hasła.</p>
    <p>Ten link wygaśnie w ciągu 24h. Jeżeli już wygasł musisz ponowić żądanie
      zmiany hasła
      <a href="{{resetPasswordLink}}">tutaj</a>.</p>
    <p> Aby zresetować hasło kliknij link poniżej:</p>
    <a href="{{link}}"><div class="btn">Zresetuj hasło</div></a>
    <p>W przypadku wysłania wielu żądań zmiany hasła upewnij się, że klikasz
      link w najnowszej wiadomości od nas.</p>
    <p>Zignoruj ten e-mail jeżeli żądanie zmiany hasła nie pochodzi od ciebie.</p>
    <p>Możesz odpowiedzieć na tę wiadomość, jeżeli potrzebujesz pomocy z
      dostępem do swojego konta.</p>
    <p>Pozdrawiamy,</p>
    <p>muslinove.pl</p>
  </body>
</html>