<html>
  <head>
    <style>
      .btn {background-color: #223322; color: white; padding: 0.5rem 2rem;
      border-radius: 5px;border:none; font-weight: bold; display:inline-block }

    </style>
  </head>
  <body>
    <p>Witaj,</p>
    <p>Otrzymaliśmy żądanie zresetowania hasła dla konta zarejestrowanego na ten
      adres e-mail, ale w naszej bazie danych nie ma takiego użytkownika.</p>
    <p>Spróbuj ponownie tutaj z innym adresem e-mail:</p>
    <a href="{{link}}"><div class="btn">Zresetuj hasło</div></a>
    <p>Zignoruj ten e-mail jeżeli żądanie zmiany hasła nie pochodzi od ciebie.</p>
    <p>Możesz odpowiedzieć na tę wiadomość, jeżeli potrzebujesz pomocy z
      dostępem do swojego konta.</p>
    <p>Pozdrawiamy,</p>
    <p>muslinove.pl</p>

  </body>
</html>